.page {
  .heading {
    font-size: 32px;
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    color: #00000080;

    margin-bottom: 30px;
  }

  .textarea {
    margin-bottom: 20px;

    appearance: none;
    border: none;
    resize: none;

    height: 150px;

    font-size: 18px;

    border-radius: 15px;
    background-color: #f7f8f9;

    padding: 20px;

    &:focus {
      outline: none;
    }
  }

  .options {
    margin-bottom: 30px;

    & > * {
      margin-bottom: 10px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .confirm,
    .cancel {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
