:root{
  --primary:#FC466B;
  --secondary:#3F5EFB;
}
body{
  height:100vh;
  width:100vw;
  margin:0;
  display: grid;
  place-items:center;
  place-content:center;
  background:linear-gradient(135deg, var(--primary),var(--secondary));
}

padding{
  margin:10px;
}

h1{
  font-family:"ubuntu";
  font-size: 4.5rem;
  color: #000;
  margin-left: 30px;
}

h2{
  font-family:"ubuntu";
  font-size: 3 rem;
  color: #000;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding-right: 20;
}

a{
  font-family:"ubuntu";
  font-size: 4.5rem;
  color: rgb(255, 213, 0);
  float:right;
  position: relative;
  right: -12rem;
}