.NFTSBTMintBox {
  background: linear-gradient(135deg, #fc466b, #3f5efb);

  height: 400px;
  width: 400px;

  position: relative;

  .question {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: bold;
    color: white;

    line-height: 1.2;
  }

  .powerBy {
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: bold;
    color: white;

    position: absolute;

    bottom: 20px;
    right: 20px;
  }
}
