.NFTSBTBox {
  background: linear-gradient(135deg, #fc466b, #3f5efb);

  height: 400px;
  width: 400px;

  position: relative;

  .question {
    position: absolute;

    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;

    padding: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-size: 38px;
    font-weight: bold;
    color: white;

    line-height: 1.2;
  }

  .replies {
    position: absolute;

    left: 20px;
    right: 20px;
    bottom: 0;
    height: 150px;

    text-align: right;

    .reply {
      font-family: 'Ubuntu';
      font-size: 12px;
      font-weight: bold;
      color: white;
    }
  }

  .powerBy {
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: bold;
    color: white;

    position: absolute;

    bottom: 20px;
    right: 20px;
  }
}
