@import 'styles/mixins.scss';

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,0.35);

  display:flex;
  justify-content:center;
  align-items:center;
}

.popupInner{
  position:relative;
  padding:32px;
  width:100%;
  max-width:640px;
  background-color: white;
}

.closeBtn{
  position:absolute;
  top:26px;
  right:26px;
  margin-left: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  border-radius: 15px;

  font-size: 22px;
  font-weight: bold;

  background-color: #28aca8;
  color: #ffffff;

  @include buttonEffects;
}